version: '3.8'

services:
  nextjs:
    build: .
    container_name: kalina_app
    ports:
      - "3001:3000"
    restart: always
    environment:
      NODE_ENV: production
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN}
      TELEGRAM_CHAT_ID: ${TELEGRAM_CHAT_ID}
