:root {
  --header-height: 84px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

#__next, body, html {
  min-height: 100%;
}

section {
  scroll-margin-top: calc(var(--header-height) + 24px);
}
